.container-fluid{
    overflow-x: hidden;
 }

#arro{
    margin-left: 226px;
    margin-top: -34px;
}
#arrobtn{
    margin-left: -98px;
}
#emojistar{
    margin-top: -491px;
}
#emo{
    margin-left: 900px;
    margin-top: -191px;
}